<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/admin/ümumi.css">
    @RenderSection("css", false)
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav>
        <i class="fa-solid fa-bars"></i>
        <a href="/" class="logo">
            <img src="~/img/clipart204002.png">
        </a>
        <div class="navsag">
            <ul>
                <li class="giris">
                    <i class="fa-solid fa-user-tie"></i>
                    <div class="giris1">
                        <a href="/User/LogOut">Çıxış</a>
                    </div>
                </li>

            </ul>
        </div>
    </nav>
    <section class="esas">
        <section class="esassol">
            <h3><span>@User.Claims.SingleOrDefault(x => x.Type == System.Security.Claims.ClaimTypes.Role).Value[0]</span>@User.Claims.SingleOrDefault(x => x.Type == System.Security.Claims.ClaimTypes.Role).Value.Substring(1)</h3>
            <ul>
                <li><a href="~/Admin/Index"><i class="fa-solid fa-users"></i><span>İstifadəçilər</span></a></li>
                @if (User.Claims.SingleOrDefault(x => x.Type == System.Security.Claims.ClaimTypes.Role).Value == "Admin")
                {
                    <li><a href="~/Admin/Moderator"><i class="fa-solid fa-user-tie"></i><span>Moderator</span></a></li>
                }
                <li><a href="~/Admin/Elanlar"><i class="fa-solid fa-magnifying-glass"></i><span>Elanlar</span></a></li>
                <li><a href="~/Admin/ElanTesdiqEt"><i class="fa-solid fa-house-circle-exclamation"></i><span>Təsdiqləmə</span></a></li>
                <li><a href="~/Admin/Tesdiqlenmemis"><i class="fa-solid fa-house-lock"></i><span>Təsdiqlənməmiş</span></a></li>
            </ul>
        </section>
        <main class="esassag">
            @RenderBody()
        </main>
    </section>
    <script src="/js/admin/admin.js"></script>
</body>
</html>
