<footer class="dark">
    <div class="asagi dark">
        <div class="asagisol">
            <ul>
                <li>Lorem, ipsum dolor.</li>
                <li>Lorem ipsum dolor sit amet consectetur. </li>
                <li>Lorem ipsum dolor consectetur adipisicing. </li>
                <li>Lorem adipisicing. </li>
            </ul>
        </div>
        <div class="asagiorta">
            <ul>
                <li>Lorem, ipsum dolor.</li>
                <li>Lorem adipisicing. </li>
                <li>Lorem ipsum dolor adipisicing. </li>
                <li>Lorem ipsum dolor consectetur adipisicing. </li>
            </ul>
        </div>
        <div class="asagisag">
            <ul>
                <li>Sosial media</li>
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-instagram"></i></li>
                <li><i class="fa-brands fa-whatsapp"></i></li>
            </ul>
        </div>
    </div>
</footer>