@section css{ 
    <link href="/css/elanyerlesdir.css" rel="stylesheet" />
}

<section class="elanyerlesdirfalse">
    <div>
        <p>Siz Admin tərəfindən bloklandığınız üçün elan yerləşdirə bilməzsiz.</p>
    </div>
</section>