@section css{
    <link href="/css/admin/elanlar.css" rel="stylesheet" />
}
@model string

    <form action="~/Admin/Elan">
        <input placeholder="Elanın nömrəsi" type="number" name="id" />
        <button>Axtar</button>
    </form>

    <h2>@Model</h2>

